.page {
    &_hide_pc{
      display: block;
      @media (min-width: 1200px){
        display: none;
      }
    }
    &_show_pc{
      display: none;
      @media (min-width: 1200px){
        display: block;
      }
    }
    &_show_tablet{
      display: none;
      @media (min-width: 640px) and (max-width: 1199px){
        display: block;
      }
    }
    &_hide_tablet{
      display: block;
      @media (min-width: 640px){
        display: none;
      }
    }
    &_hide_mob{
      display: block;
      @media (max-width: 639px){
        display: none;
      }
    }
    &_show_mob{
      display: block;
      @media (min-width: 360px){
        display: none;
      }
    }
    &_display_block{
      display: block;
    }
    &_display_flex{
      display: flex;
    }
    &_space_between{
      justify-content: space-between;
    }

}

.page.open-pushy{
    overflow: hidden;
}