.button {
    color: white;
font-size: 16px;
font-family: Poppins;
font-weight: 500;
line-height: 16px;
word-wrap: break-word;
font-family: 'Poppins', sans-serif;
margin-right: -7rem;
background-color: #424FE6;
width: 7.625rem;
height: 2.5rem;
}
