.link {
    cursor: pointer;
    text-decoration: none;
    color: var(--Red, #FF1F00);
    transition: color .2s;
    &_hovered{
      color: var(--Red-Hover, #D51A00);
    }
    &_visited{
      color: #7A008E;
    }
    &_active{
      color: var(--Red-Active, #FF4B32);
    }

}